.movie-details {
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 10px;
  padding: 15px;
  &__left {
    &__img {
      width: 100%;
      height: 100%;
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 5px;
    &__title-rating {
      display: flex;
      gap: 5px;
      &__title {
        font-size: 18px;
        font-weight: 600;
      }
      &__rating {
        font-size: 18px;
        font-weight: 500;
        color: darkgray;
      }
    }
    &__year-length-dir {
      display: flex;
      gap: 1rem;
      align-items: flex-start;
      margin-bottom: 1rem;
    }
    &__cast-details {
      display: flex;
      align-items: baseline;
      gap: 10px;
    }
    &__description {
      display: flex;
      align-items: baseline;
      gap: 10px;
    }
  }
}
.label {
  font-weight: 700;
}
.cast-name {
  background-color: lightgray;
  border-radius: 5px;
  padding: 0.15rem 0.5rem 0.35rem;
  margin: 0px 0.25rem 0.5rem 0px;
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  .movie-details {
    grid-template-columns: 1fr;
  }
  .movie-details__left__img {
    height: 25rem;
  }
}
